# Ignorar arquivos compilados
*.class
*.o

Faculdade/Laboratory/Gercom/FedT_Teste/data/mnist_test.csv
Faculdade/Laboratory/Gercom/FedT_Teste/data/mnist_train.csv
Faculdade/Laboratory/Gercom/FedT_Teste_Paralelizado/data/mnist_test.csv
Faculdade/Laboratory/Gercom/FedT_Teste_Paralelizado/data/mnist_train.csv
